@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.box .Main_Logo
{
    color: #e8eade;
    font-size: 5vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;

}
.box
{
    position: fixed;
    background-image: url(./World\ map-background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* .box .Search_box
{
    width:1700px;
    border: solid 30px #e8eade;
    position:absolute;
    top: 45vh;
    font-size:2vh;color:white;
    left:50%;
    transform: translate(-50%);
} */

.content1 {
  position: relative; 
  align-items: end;
  height: 30%;  
  display: flex;
}
