*
{
    margin: 0;
    padding: 0;
}

svg path
/* 땅 부분 설정 */
{
    fill: #1f2023;          /* 땅 색깔 */
    stroke: #eeee;          /* 땅의 외곽선  */
    stroke-width: .5;          /* 외곽선 굵기 */
}

/* svg path:hover
{
    fill: #006284;
    transition:0.6a;
} */

.container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 1fr 5%;
    height: 100vh;
    grid-template-areas: 
        "headline sidebar"
        "main_map sidebar"
        "footer sidebar"
    ;
}

.headline {
    grid-area: headline;
    /* border: dotted 3px red; */
   
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: ". title .";
}
.headline .TitleWrapper {
    grid-area: title;
    display: grid;
    justify-items: center;
    align-items: center;
}
.TitleWrapper > h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    display: inline;
    font-size: 4vh;
}

.main_map {
    grid-area: main_map;
    background-color: white;    
    /* border: dotted 3px red;   */
}
.sidebar {
    grid-area: sidebar;
    border-left: solid 3px black;
    display: grid;
    grid-template-rows: 5% 40% 25% 20% 10% ;
    padding-left: 5px;
}
.sidebar>.commodity_name {
    display: grid;
    align-items: center;
    border-bottom: solid 1px black;
}


.footer {
    grid-area: footer;
    /* border: dotted 3px red; */

    display: grid;
    grid-template-columns: 20% 1fr 5%;
    grid-template-areas: "funcs none reset";
}
.footer .functions  {
    grid-area: funcs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1f 1f;
    column-gap: 10px;
    row-gap:3px;
    grid-template-areas: 
    "export product stock"
    "import consume reserve"
    ;
}
.functions>* {
    border-radius: 10px;
    background-color: gainsboro;
}
.footer .resetWrapper {
    grid-area: reset;
    display: grid;
}
.resetWrapper .reset {
    border-radius: 10px;
    background-color: gainsboro;
}
button:active {
   background-color: rgb(153, 152, 152);
}
.reset:active {
    background-color: rgb(153, 152, 152);
 }
 
 .main_map .China,#IN,.Indonesia,.Australia,.Russia,#KZ,#ZA,#PL,.United.States{
    fill: rgba(238, 197, 63, 0.548);
    stroke: rgba(110, 167, 221, 0.808); 
    stroke-width: 1; 
}
 

 